{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3 container">
    
  <br>
  <br>
  
  <br><br>
  {% if user.is_authenticated %}
    <div class="card ">
      <form method="POST" action="">
        <div class="card-header">
        <h3>Select Account</h3> 
        <br>
        <select class="form-select" aria-label="Default select example">
          <option selected>Account</option>
          <option value="1">Google</option>
          <option value="2">Youtube</option>
          <option value="3">Facebook</option>
        </select>
        <br>
        <select class="form-select" aria-label="Default select example">
          <option selected>Person</option>
          <option value="1">James Bumanlag</option>
          <option value="2">Alona Ancayan</option>
          <option value="3">Stephanie Bumanlag</option>
        </select>
        <br>
        <button type="submit" class="btn btn-dark" >submit</button>
        <br>
        <br>
        </div>
      
        
      </form>

    </div>
  {% endif %}
  <br><br>
<h5>Accounts Table</h5>
        
        <table class="table table table-striped table-hover table-bordered">
            
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Application</th>
                        <th scope="col">Url</th>
                        <th scope="col">Password</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Date Modified</th>

                      </tr>
                    
                </thead>

                <tbody>
                    {% if accounts %}
                        {% for account in accounts %}

                        <tr>
                        <td>{{ account.person }}</td>
                        <td>{{ account.account_app }}</td>
                        <td>{{ account.account_url }}</td>
                        <td>{{ account.password }}</td>
                        <td>{{ account.notes }}</td>
                        <td>{{ account.created_at }}</td>
                        </tr>

                        {% endfor %}    
                    {% endif %}
                </tbody>
                    
        </table>
</div>
<br><br>
{% endblock %}