{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3 container">
    
  <br>
  <br>
  
  <br><br>

  <div class="card ">
    <form>
      <div class="card-header">
       <h3>Select Account</h3> 
       <br>
       <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">Google</option>
        <option value="2">Youtube</option>
        <option value="3">Facebook</option>
      </select>
      </div>
    </form>

  </div>
</div>

{% endblock %}